<!DOCTYPE html>
<html lang='ja'>
  <head>
    <title>Stamp Extractor | 紙に押されたハンコの画像から背景透過画像を自動生成</title>
    <meta name="description" content="押されたハンコや手書きのイラストを元に、背景を透過した画像やSVG形式の画像を生成します。必要な画像は一枚だけ、面倒な設定は不要です。">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield :canonical %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
